#avatar {
  width: 256px;
  height: 256px;
}

#avatar i {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 128px;
}

#avatar img {
  position: absolute;
  left: 0;
  top: 0;
  height: 256px;
  width: 256px;
}

#avatar:hover::after {
  opacity: 1;
}

#avatar::after {
  transition-duration: 0.75s;
  opacity: 0;
  content: "Change";
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 256px;
  background: rgba(0, 0, 0, 0.5);
}

.role {
  background: rgba(0, 0, 0, 0.25);
  padding: 5px;
  border: 2px solid white;
  margin: 3px;
}
.role-none {
  background: rgba(255, 225, 225, 0.25);
  padding: 5px 40px;
  margin: 3px;
}
