__pycache__
ACCESS_DATA
DATABASE
LEVELS
SERVERFILES
STUFF
VARS/cmdlist/cj.txt
CMD/_CJ.py
/logging_.py
UTILS/twitch_streams
UTILS/server_channel_id_for_new.json
UTILS/*.txt
VARS/Schregstrich.txt
_PhaazeV3.py
_TWITCH_/Channel*
_TWITCH_/_achtive_channels.json
/utils.py
server_channel_id_for_news*
.ropeproject
_WEB_/css/bootstrap.css
_WEB_/css/materialize.css
_WEB_/css/mdb.css
_WEB_/js/bootstrap.js
_WEB_/js/materialize.js
_WEB_/js/mdb.js
_WEB_/img/*.*
