__pycache__
config.json*
!config.json.example
.ropeproject
_WEB_/css/bootstrap.css
_WEB_/css/materialize.css
_WEB_/css/mdb.css
_WEB_/js/bootstrap.js
_WEB_/js/materialize.js
_WEB_/js/mdb.js
_WEB_/img/*
!_WEB_/img/*.py
