{
  "version": "0.0.0",

  "twitch_api_token":"secret!..?",
  "twitch_irc_token":"secret!..?",
  "twitch_admin_token":"secret!..?",

  "discord_bot_id":"000",
  "discord_token":"secret!..?",
  "discord_secret":"secret!..?",

  "osu_api_token":"secret!..?",
  "osu_irc_username": "cool name",
  "osu_irc_token":"secret!..?",

  "cleverbot_token":"secret!..?",

  "mashape_token":"secret!..?",

  "phaazedb_user":"secret!..?",
  "phaazedb_password":"secret!..?",
  "phaazedb_database":"phaaze",
  "phaazedb_host":"localhost",

  "twitter_token":"secret!..?",
  "twitter_token_key":"secret!..?",
  "twitter_consumer_key":"secret!..?",
  "twitter_consumer_secret":"secret!..?",

  "active_main":true,
  "active_api":false,
  "active_web":false,
  "active_discord":false,
  "active_twitch_irc":false,
  "active_twitch_events":false,
  "active_osu_irc":false,
  "active_twitter":false,
  "active_youtube":false,

  "discord_private_cooldown":1,
  "discord_normal_cooldown":1,
  "discord_mod_cooldown":3,
  "discord_owner_cooldown":5,
  "discord_custom_commands_amount":100,
  "discord_custom_commands_cooldown":3,
  "discord_level_cooldown":3,
  "discord_level_medal_amount":50,
  "discord_quotes_amount":10,
  "discord_assignrole_amount":25,
  "discord_login_link":"https://discordapp.com",
  "discord_redirect_link":"localhost",

  "twitch_timeout_message_cooldown":20,
  "twitch_blacklist_remember_time":180,
  "twitch_custom_command_amount":100,
  "twitch_quote_amount":100,
  "twitch_stats_cooldown":5,

  "web_root":"localhost",
  "ssl_dir":"/etc/letsencrypt/live/domain.something/",
  "web_client_max_size":5242880,

  "discord_motd":"Oh... hello there",

  "default_twitch_currency":"Twitch coin",
  "default_twitch_currency_multi":"Twitch coins",
  "default_discord_currency":"Discord coin",
  "default_discord_currency_multi":"Discord coins"
}
