main h1 { margin: 1em 0; }

.command > *, .header > * { margin: 2px; }

.header div { background: var(--color-listelement-odd); }
.header div:nth-child(even) { background: var(--color-listelement-even); }

.command div { background: var(--color-sub-listelement-odd); }
.command div:nth-child(even) { background: var(--color-sub-listelement-even); }

.command [name=name].hidden:after {
	content: "This command is hidden";
	color: grey;
}

#command_modal [name=name], #command_modal [name=description] {
	word-break: break-word; white-space: pre-line;
}
