main h1 {
  margin: 1em 0;
}

.command > *, .header > * {
  margin: 2px;
}
.command {
  cursor: pointer;
}
.command:hover {
  background: rgba(0,0,0,0.2);
}

.header div { background: var(--color-listelement-odd); }
.header div:nth-child(even) { background: var(--color-listelement-even); }

.command div { background: var(--color-sub-listelement-odd); }
.command div:nth-child(even) { background: var(--color-sub-listelement-even); }

.command .function.hidden:after {
  content: "This command is hidden";
  color: grey;
}

#command_detail [name=name], #command_detail [name=description] {
  word-break: break-word; white-space: pre-line;
}
