/* panel stuff */
.site-panel {
  min-height: calc(100vh - 5em);
  position: static;
  top: 5em;
  left: 0;
}
.site-panel h4 {
  margin: 0.5em 0;
}

.site-panel-btn {
  display: none;
  position: fixed;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  border-radius: 7.5em;
  padding: 1em;
  line-height: 0;
  background-color: #0085ff;
  color: white;
}
.site-panel-btn.show {
  background-color: #c4c4c4;
  color: black;
}

@media (max-width: 1100px) {
  .site-panel {
    left: 0;
    position: fixed;
    display: none;
    height: 100vh;
    width: 50vw;
    max-width: unset;
    z-index: 1;
    float: unset;
    border-right: 2px solid black;
  }
  .site-panel-btn {
    display: block;
  }
}
.site-panel.show { display: unset; }

.main-panel {
  padding-top: 15px;
  overflow-y: auto;
}
.main-panel [location] {
  display: none;
}
.location-selector {
  display: block;
}
.location-selector > * {
  margin: 1em 0;
  cursor: pointer;
}
.location-selector .location {
  color: white;
}
.location-selector .location i {
  margin-left: 2em;
  margin-right: 0.75em;
  width: 1em;
}

/* locations */
[location=home] .guild-icon {
  border: 2px solid black;
  background: #202225;
  border-radius: 50%;
}
[location=home] .guild-name {
  margin-left: 1em;
  font-size: 32px;
}

[location=commands] .command { cursor: pointer;; }
[location=commands] .command:hover { background: rgba(0,0,0,0.2); }
[location=commands] .command > *, [location=commands] .header > * { margin: 2px; }
[location=commands] .header .trigger { background: #293788; }
[location=commands] .header .function { background: #364287; }
[location=commands] .header .require { background: #293788; }
[location=commands] .header .cost { background: #364287; }
[location=commands] .header .uses { background: #364287; }
[location=commands] .header .cooldown { background: #364287; }
[location=commands] .command .trigger { background: #295888; }
[location=commands] .command .function { background: #365b87; word-break: break-word;}
[location=commands] .command .function.hidden { background: #665b87 }
[location=commands] .command .require { background: #295888; }
[location=commands] .command .cost { background: #365b87; }
[location=commands] .command .uses { background: #365b87; }
[location=commands] .command .cooldown { background: #365b87; }

[location=configs] .config-box { padding: 5px; margin-bottom: 1em; }
[location=configs] .config-box .btn { margin: unset; }
[location=configs] .btn.toggle-value[value=x] {background: #696969; }
[location=configs] .btn.toggle-value[value=true] {background: #00c851; }
[location=configs] .btn.toggle-value[value=false] {background: #ff3547; }
[location=configs] .btn.toggle-value[value=x]::after {content: "-----"; }
[location=configs] .btn.toggle-value[value=true]::after {content: "Disable"; }
[location=configs] .btn.toggle-value[value=false]::after {content: "Enable"; }
[location=configs] .btn.toggle-value.reverse[value=true] {background: #ff3547; }
[location=configs] .btn.toggle-value.reverse[value=false] {background: #00c851; }
[location=configs] .btn.toggle-value.reverse[value=true]::after {content: "Enable"; }
[location=configs] .btn.toggle-value.reverse[value=false]::after {content: "Disable"; }
[location=configs] .btn.config-save { margin-top: 1em; }
[location=configs] .config-info { padding: .84rem 2.14rem; font-size: .81rem; } /* same as btn */
[location=configs] .config-textbox-input { width: 100%; }
[location=configs] .config-token-btn { position: absolute; top: 1px; right: 1px; }

[location=levels] .level { cursor: pointer;; }
[location=levels] .level:hover { background: rgba(0,0,0,0.2); }
[location=levels] .level > *, [location=levels] .header > * { margin: 2px; }
[location=levels] .header .rank { background: #293788; }
[location=levels] .header .lvl { background: #364287; }
[location=levels] .header .exp { background: #293788; }
[location=levels] .header .member { background: #364287; }
[location=levels] .header .medals { background: #293788; }
[location=levels] .level .rank { background: #295888; }
[location=levels] .level .lvl { background: #365b87;}
[location=levels] .level .exp { background: #295888 }
[location=levels] .level .exp.edited { background: #665b87; }
[location=levels] .level .member { background: #365b87; }
[location=levels] .level .member .avatar { border-radius: 50%; }
[location=levels] .level .member .name { margin-left: 1em; }
[location=levels] .level .medals { background: #295888; }

[location=quotes] .quote { margin: 5px 0; }
[location=quotes] .quote [name=content] {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: white;
  padding: 10px;
  resize: none;
}
[location=quotes] .quote [name=content]:not([readonly]) {
  background: #00000050;
  border-left: 2px solid red;
}

/* modals */
#command_create [command-setting], #command_create [extra-command-setting] { display: none;}
#command_create button[mode] { display: none;}
#command_create[mode=new] button[mode=new] { display: unset;}
#command_create[mode=edit] button[mode=edit] { display: unset;}
#command_create [extra-command-setting] p { word-break: break-word; white-space: pre-line;}

#token_modal_help .example { color: white; background: grey; }
#token_modal_help .clickable { color: #262798; background: #8aa6af9c; padding: 2px; cursor: pointer; }
#token_modal_help .tokenlist { padding: 0 1em; }
#token_modal_help .tokenlist .token { padding: 1px; }
#token_modal_help .tokenlist .token .key { padding-right: 2px; background: #aaaaaaaa; text-align: center;}
#token_modal_help .tokenlist .token .value { padding-left: 2px; text-align: left;}
#token_modal_help .modal-body { max-height: 50vh; overflow-y: auto; }

#config_modal_blacklist_words .wordbanlist,
#config_modal_whitelist_links .linkwhitelist,
#config_modal_exeption_roles .exceptionrolelist,
#config_modal_disable_chan_level .disablechanlevellist,
#config_modal_disable_chan_quote .disablechanquotelist,
#config_modal_disable_chan_normal .disablechannormallist,
#config_modal_disable_chan_regular .disablechanregularlist,
#config_modal_enable_chan_game .enablechangamelist,
#config_modal_enable_chan_nsfw .enablechannsfwlist
  { padding: 1em; max-height: 40vh; overflow-y: auto; }

#config_modal_blacklist_words .wordbanlist .blacklistword,
#config_modal_whitelist_links .linkwhitelist .whitelistlink,
#config_modal_exeption_roles .exceptionrolelist .exceptionrole,
#config_modal_disable_chan_level .disablechanlevellist .disablechanlevel,
#config_modal_disable_chan_quote .disablechanquotelist .disablechanquote,
#config_modal_disable_chan_normal .disablechannormallist .disablechannormal,
#config_modal_disable_chan_regular .disablechanregularlist .disablechanregular,
#config_modal_enable_chan_game .enablechangamelist .enablechangame,
#config_modal_enable_chan_nsfw .enablechannsfwlist .enablechannsfw
  { padding: 2px; margin: 2px 0; background-color: #aaaaaaaa; }

#config_modal_exeption_roles .exceptionrolelist .exceptionrole.deleted,
#config_modal_disable_chan_level .disablechanlevellist .disablechanlevel.deleted,
#config_modal_disable_chan_quote .disablechanquotelist .disablechanquote.deleted,
#config_modal_disable_chan_normal .disablechannormallist .disablechannormal.deleted,
#config_modal_disable_chan_regular .disablechanregularlist .disablechanregular.deleted,
#config_modal_enable_chan_game .enablechangamelist .enablechangame.deleted,
#config_modal_enable_chan_nsfw .enablechannsfwlist .enablechannsfw.deleted
  { background-color: #ccaaaaaa; }

#config_modal_blacklist_words .wordbanlist:empty:after,
#config_modal_whitelist_links .linkwhitelist:empty:after,
#config_modal_exeption_roles .exceptionrolelist:empty:after,
#config_modal_disable_chan_level .disablechanlevellist:empty:after,
#config_modal_disable_chan_quote .disablechanquotelist:empty:after,
#config_modal_disable_chan_normal .disablechannormallist:empty:after,
#config_modal_disable_chan_regular .disablechanregularlist:empty:after,
#config_modal_enable_chan_game .enablechangamelist:empty:after,
#config_modal_enable_chan_nsfw .enablechannsfwlist:empty:after
  { content: "(None)"; }

#level_modal_edit [name=exp][edited=true] { background-color: #eeaaaaaa; }
#level_modal_edit .medallist { padding: 0 1em; max-height: 40vh; overflow-y: auto; }
#level_modal_edit .medallist .medal { padding: 2px; margin: 2px 0; background-color: #aaaaaaaa; }
#level_modal_edit .medallist:empty:after { content: "(None)"; }
