main h1 { margin: 1em 0; }

.generic-list > *, .generic-sub-list > * { margin: 2px; padding: 2px; }
.level .avatar { border-radius: 50%; margin-top: 2px; margin-left: 5px; }

.level > *, .header > * { margin: 2px; }

.header > div { background: var(--color-listelement-odd); }
.header > div:nth-child(even) { background: var(--color-listelement-even); }

.level > div { background: var(--color-sub-listelement-odd); }
.level > div:nth-child(even) { background: var(--color-sub-listelement-even); }

.modal-itemlist { padding: 1em; max-height: 40vh; overflow-y: auto; }
.modal-itemlist > * { padding: 1em; margin: 5px; background-color: #525252; }
.modal-itemlist > *.deleted { background-color: #734343; }
.modal-itemlist:empty::after { content: "(None)"; }
