.wiki {
  padding-top: 1em;
}

.wiki h1, .wiki h2, .wiki h3, .wiki h4, .wiki h5, .wiki h6 {
  color: white;
}

.wiki li, .wiki p {
  color: white;
}

.wiki a {
  color: lightblue;
}

.wiki dl, .wiki dd, .wiki dt {
  color: white
}

.wiki code {
	border: 2px solid #7c7c7c;
	border-radius: 3px;
	color: black;
	padding: 2px;
	background: white;
}

.wiki code a {
  color: red;
}

.wiki pre code {
	border: none;
	border-radius: none;
	color: white;
	padding: none;
	background: none;
}

