.search-result a, .create {color: lightblue}

.search-result {
  position: relative;
  border: 1px solid black;
  padding: 7px;
  border-radius: 2px;
}

span.p1 {
  position: relative;
  margin: auto;
}
span.p2 {
  position: absolute;
  width: 100%;
  margin-left: auto;
}
span.p3 {
  position: absolute;
  right: 0;
  color: rgb(130, 130, 130);
}
