.dark_bg {
	background-color: #494D64;
}

a.dark_link:hover {
	color: LightGrey;
}

.login_input_field {
	margin-top: 20px;
	border-radius: 5px;
	text-align: center;
	width: 100%;
}

.simple-black-border {
	border: 2px solid black;
}

.element-center {
	margin-left: auto;
	margin-right: auto;
}

.white-text {
	color: white;
}

.h1 {
	font-size: 250%;
}

.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

.pos-sticky {
	position: sticky;
}

.inner_item_center {
	padding: auto;
	margin: auto;
	vertical-align: middle;
}

.inline {
	display: inline;
}

.vertical-middle {
	vertical-align: middle;
}

.pos-relative  {
	position: relative;
}

.pos-static  {
	position: static;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.profil_picture {
	border-radius: 50%;
}

.fit_to_object {
	max-width: 100%;
	max-height: 100%;
}

.selected_option {
	color: Grey;
}

.stick_to_left {
	margin-right: auto!important;
}

.stick_to_right {
	margin-left: auto!important;
}

.tool_tip {
    position: relative;
}

.tool_tip .tool_tip_text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
		word-break: normal;
		white-space: nowrap;

    position: absolute;
    z-index: 1;
}

.tool_tip:hover .tool_tip_text {
    visibility: visible;
}