 main form {
  padding: 1em;
}

main form div {
  margin-top: 1em;
}
main form [type=submit] {
  margin-top: 2em;
}

main [name=password], form i {
  margin-right: 0.5em;
}
main [name=password2] {
  margin-left: 0.5em;
}
