{
  "version": "0.0.0",

  "twitch_bot_id":"000",
  "twitch_client_id":"secret!..?",
  "twitch_client_secret":"secret!..?",
  "twitch_irc_token":"secret!..?",
  "twitch_irc_nickname":"secret!..?",

  "discord_bot_id":"000",
  "discord_token":"secret!..?",
  "discord_secret":"secret!..?",

  "osu_api_token":"secret!..?",
  "osu_irc_token":"secret!..?",
  "osu_irc_nickname": "cool name",

  "cleverbot_token":"secret!..?",

  "mashape_token":"secret!..?",

  "phaazedb_user":"secret!..?",
  "phaazedb_password":"secret!..?",
  "phaazedb_database":"phaaze",
  "phaazedb_port":"3306",
  "phaazedb_host":"localhost",

  "twitter_token":"secret!..?",
  "twitter_token_key":"secret!..?",
  "twitter_consumer_key":"secret!..?",
  "twitter_consumer_secret":"secret!..?",

  "active_main":true,
  "active_api":false,
  "active_web":false,
  "active_discord":false,
  "active_twitch_irc":false,
  "active_twitch_events":false,
  "active_osu_irc":false,
  "active_twitter":false,
  "active_youtube":false,

  "discord_custom_commands_amount":100,
  "discord_custom_commands_cooldown_min":3,
  "discord_custom_commands_cooldown_max":600,
  "discord_level_cooldown":3,
  "discord_level_medal_amount":50,
  "discord_quotes_amount":10,
  "discord_assignrole_amount":25,
  "discord_regular_amount":50,
  "discord_login_link":"https://discordapp.com",
  "discord_redirect_link":"localhost",
  "discord_debug_user_id":[],

  "twitch_blacklist_remember_time":180,
  "twitch_custom_command_amount":100,
  "twitch_quote_amount":100,
  "twitch_level_cooldown":3,
  "twitch_client_credential_token":"",
  "twitch_login_link":"https://id.twitch.tv",
  "twitch_redirect_link":"localhost",
  "twitch_debug_user_id":[],

  "web_root":"localhost",
  "ssl_dir":"/etc/letsencrypt/live/domain.something/",
  "web_client_max_size":5242880,

  "discord_motd":"Oh... hello there",

  "default_twitch_currency":"Twitch coin",
  "default_twitch_currency_multi":"Twitch coins",
  "default_discord_currency":"Discord coin",
  "default_discord_currency_multi":"Discord coins"
}
