main h1 {
  margin: 1em 0;
}

div[buttons] a {
  margin: 3px 0;
}

div[buttons] > a > button {
  color: white;
  background: #0052d6;
}
div[buttons] > a:nth-child(even) > button { background: #0046b8; }

div[buttons] > a > button:hover {
  color: lightgrey;
}

#root_console {
  padding: 0.5em;
}
