main h1 {
	margin: 1em 0;
}

.generic-list > *, .generic-sub-list > * { margin: 2px; padding: 2px; }

.modal-body .center-item-row,
.modal-body .row {
	min-height: 40px;
}

.modal [name=description] { white-space: pre-line; }

[mode] [show-mode] { display: none; }
[mode=create] [show-mode=create] { display: block; }
[mode=edit] [show-mode=edit] { display: block; }
