@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.animation-spin {
	animation-name: spin;
	animation-duration: 10s!important;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}

.root-logo {
  width: 100%;
}
