#result_space {

}

.image-preview {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid black
}

.image-preview button {
  padding: 0;
  width: 3em;
  height: 3em;
}

.image-img {
  padding: 5px;
}

.image-name {
  color: lightblue;
  font-size: xx-large;
}
