/* root vars */
:root {
	--color-phaaze: #00FFD0;
	--color-darkphaaze: #004299;
	--color-discord: #7289DA;
	--color-twitch: #6441A4;

	--color-boolish-green: #12e400;
	--color-boolish-red: #ff1700;

	--color-modal-background: #2e2e38;
	--style-modal-border: 1px solid white;
	--color-modal-text: #fff;
	--color-modal-text-link: #00a8e7;
	--color-modal-text-disabled: #ccc;

	--color-listelement-odd: #0052d6;
	--color-listelement-even: #0046b8;
	--color-sub-listelement-odd: #47659a;
	--color-sub-listelement-even: #44519e;
}

/* overrides */
.stylish-color a {
	color: var(--color-phaaze);
}
.btn {
	/* remove uppercase */
	text-transform: none;
}
.modal-content {
	background-color: var(--color-modal-background);
	color: var(--color-modal-text);
	border: var(--style-modal-border)!important;
}
.modal-content a { color: var(--color-modal-text-link); }
.modal-content hr { background-color: var(--color-modal-text); }
.modal-content .close { color: var(--color-modal-text); }
.modal-content input { color: var(--color-modal-text); }
.modal-content input:focus { color: var(--color-modal-text); }
.modal-content input:disabled { color: var(--color-modal-text-disabled); }

/* global styles */
.content-box {
	border: 1px solid black;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 10px #00000069;
}
.icon-btn {
  padding: 1em;
  line-height: 0;
}
.icon-btn.round {
	border-radius: 50%;
}
.icon-btn i {
	width: 14px;
}
label.checkbox-container {
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
label.checkbox-container > input[type=checkbox] {
	height: 25px;
	width: 25px;
}
label.checkbox-container > input[type=checkbox] + span,
label.checkbox-container > span + input[type=checkbox] {
	margin-left: 5px;
}

/* center items */
@media (min-width: 992px) {
	.center-item-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.center-item-col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.center-item-row > *, .center-item-col > * {
		white-space: nowrap;
	}
}
.center-item-row.forced {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.center-item-col.forced {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.center-item-row.forced > *, .center-item-col.forced > * {
	white-space: nowrap;
}

/* extra colors */
.color-twitch { background-color: var(--color-twitch); }
.color-phaaze { background-color: var(--color-phaaze); }
.color-discord { background-color: var(--color-discord); }

/* element styles */
pre {
	border: 1px solid lightgrey;
	padding: 0.9em;
	background: rgba(50,50,50,0.5);
}
nav {
	background-color: var(--color-darkphaaze);
}

/* navbar right account btn */
#account_button {
	border-radius: 7.5em;
	padding: 1em;
	line-height: 0;
}
#account_button::after {
	display: none;
	transition: .5s;
	content: "Accounts";
	position: relative;
	overflow: hidden;
}
#account_button:hover::after {
	display: contents;
}

/* global account modal */
#account_modal h2 {
	padding: 0;
	margin: 0;
}
#account_modal .platform {
	border: 1px solid black;
}
#account_modal .platform-icon > i {
	font-size: 45px;
}

/* role list under general info */
#account_modal_roles {
	overflow-y: auto;
	overflow-x: visible;
	max-height: 10em;
}
#account_modal_roles:empty::after {
	content: "None";
}
#account_modal_roles > * {
	padding: 5px;
	border: 2px solid black;
	margin: 3px;
	background: rgba(0, 0, 0, 0.25);
}

/*global messages*/
#main_message_field {
	width: 100%;
	z-index: 500;
	position: fixed;
	top: 10vh;
}
[messagebox] > .message h1{
	font-size: 120%;
	padding:0.25rem;
	margin:0;
}
[messagebox] > .message {
	text-align: center;
	animation-name: message-animation;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}
@keyframes message-animation {
	0%{
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	90%{
		opacity: 1;
		max-height: 100%;
	}
	100%{
		opacity: 0;
		max-height: 0;
	}
}

[messagebox] > .message > .messagebar_raw {
	width: 100%;
	height: 7.5px;
	bottom: 0;
	text-align: center;
	position: relative;
	background: rgba(0, 0, 0, 0.2);
}
[messagebox] > .message > .messagebar_raw > .messagebar_time_left {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	animation-name: messagebar-animation;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	text-align: center;
	position: relative;
}
@keyframes messagebar-animation {
	0%{
		margin: 0 0;
		width: 100%;
	}
	100%{
		margin: 0 50%;
		width: 0%;
	}
}
