/* overrides */
.stylish-color a {
	color: #9dfcff;
}

/* center items */
@media (min-width: 992px) {
	.center-item-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.center-item-col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.center-item-row > *, .center-item-col > * {
		white-space: nowrap;
	}
}
.center-item-row.forced {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.center-item-col.forced {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.center-item-row.forced > *, .center-item-col.forced > * {
	white-space: nowrap;
}

/* remove uppercase */
.btn {
	text-transform: none;
}

/* element styles */
pre {
	border: 1px solid lightgrey;
	padding: 0.9em;
	background: rgba(50,50,50,0.5);
}

/* account/login button/form */
#account_field {
	border-radius: 7.5em;
	padding: 1em;
	line-height: 0;
}
#account_field::after {
	display: none;
	transition: .5s;
	content: "Accounts";
	position: relative;
	overflow: hidden;
}
#account_field:hover::after {
	display: contents;
}
#login_form input {
	margin: 0 2.5em;
	color: black;
	border-bottom: 1px solid #000;
}
#login_form h1, #login_form h2 {
	margin: 0;
	padding: 0;
}
#login_form .modal-body > .center-item-row {
	height: 70px;
	border: 1px solid black;
}
#login_form .platform {
	width: 70px;
	height: 70px;
}
#login_form .platform > * {
	margin: auto;
	font-size: 45px;
}
#login_form #user_roles:empty:after {
	content: "None";
}
#login_form #user_roles > * {
	padding: 5px;
	border: 2px solid black;
	margin: 3px;
	background: rgba(0, 0, 0, 0.25);
}
#login_form #user_roles {
	overflow-y: auto;
	overflow-x: visible;
	max-height: 10em;
}

/*global messages*/
#main_message_field {
	width: 100%;
	z-index: 500;
	position: fixed;
	top: 10vh;
}
[messagebox] > .message h1{
	font-size: 120%;
	padding:0.25rem;
	margin:0;
}
[messagebox] > .message {
	text-align: center;
	animation-name: message-animation;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}
@keyframes message-animation {
	0%{
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	90%{
		opacity: 1;
		max-height: 100%;
	}
	100%{
		opacity: 0;
		max-height: 0;
	}
}

[messagebox] > .message > .messagebar_raw {
	width: 100%;
	height: 7.5px;
	bottom: 0;
	text-align: center;
	position: relative;
	background: rgba(0, 0, 0, 0.2);
}
[messagebox] > .message > .messagebar_raw > .messagebar_time_left {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	animation-name: messagebar-animation;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	text-align: center;
	position: relative;
}
@keyframes messagebar-animation {
	0%{
		margin: 0 0;
		width: 100%;
	}
	100%{
		margin: 0 50%;
		width: 0%;
	}
}
